<head>
    <title>CODEBOARD</title>
    
    <!--JavaScript includes-->
    <% if(i.indexOf("jquery")>-1){ %>  <script src="/jquery/dist/jquery.min.js"></script> <% } %>
    <% if(i.indexOf("angular")>-1){ %> <script src="/angular/angular.min.js"></script> <% } %>
    <% if(i.indexOf("bootstrap")>-1){ %> <script src="/bootstrap/dist/js/bootstrap.min.js"></script> <% } %>
    
    <!--CSS includes-->
    <% if(i.indexOf("bootstrap")>-1){ %> <link href="/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"></script> <% } %>
</head>