	<footer class="footer">
		<div class="container">
			<nav class="pull-left">
				<ul>
					<li>
						<a href="http://www.github.com/mdakram28">
							Mohd Akram
						</a>
					</li>
					<li>
						<a href="http://www.github.com/mdakram28">
							About Us
						</a>
					</li>
					<li>
						<a href="http://www.github.com/mdakram28">
							Blog
						</a>
					</li>
					<li>
						<a href="http://www.github.com/mdakram28">
							Licenses
						</a>
					</li>
				</ul>
			</nav>
			<div class="copyright pull-right">
				&copy; 2016, made with <i class="material-icons">favorite</i> by mdakram28 for better coding.
			</div>
		</div>
	</footer>
</div>


</body>

	<!--   Core JS Files   -->
	<script src="/js/jquery.min.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/material.min.js"></script>

	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="/js/nouislider.min.js" type="text/javascript"></script>

	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	<script src="/js/material-kit.js" type="text/javascript"></script>

	<script src="/plugins/toastr/toastr.min.js"></script>

	<script src="/js/main.js" type="text/javscript"></script>
	<script>
		<% if(errMessage){ %>
		setTimeout(function(){
			toastr.error(<%- JSON.stringify(errMessage) %>);
		},100);
		<% } %>
		<% if(message){ %>
		setTimeout(function(){
			toastr.success(<%- JSON.stringify(message) %>);
		},100);
		<% } %>
	</script>


</html>