<!DOCTYPE html>
<html>
  <head>
    <title>CODEBOARD</title>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/angular/angular.min.js"></script>
  </head>
  <body ng-app="app" ng-controller="indexController">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
 
    <h1>{{motto}}</h1>
    
    <footer>
      <p>Date Established : {{dates | date }}</p>
      <p>{{aboutus}}</p>
      <p>{{contactus}}</p>
    </footer>
    <script>
      var app = angular.module("app",[]);
      app.controller("indexController",["$scope","$http",function($scope,$http){
        $scope.title = "CODEBOARD";
        $scope.motto = "For World's Best Coders";
        $scope.dates = new Date('2016','7','13');
        
        $scope.contactus = "Kislay :: 9585432074 <br/> Anish :: "
        $scope.aboutus="!!! We are Sexy Coders - kislay ,Anish!!!"
        
      }]);
    </script>
    
  </body>
</html>
