<!DOCTYPE html>
<html>
  
  <%- include("components/header",{
    title:"CODEBOARD",
    i:["jquery","angular"]
  }) %>
  
  <body ng-app="app" ng-controller="indexController">
    
  </body>
</html>
