<!DOCTYPE html>
<html>
  <head>
    <title>CODEBOARD</title>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/angular/angular.min.js"></script>
  </head>
  <style>
    body {
      
      background:url('/img/original.jpg');
      background-size:cover;
      background-repeat:no-repeat;
      
    }
    
  </style>
  <body ng-app="app" ng-controller="indexController">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    
  </body>
</html>
